* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/* Navigation Bar */

nav {
    text-align: right;
    margin-right: 25px;
}

h1 {
    font-size: 30px;
}

header h1 {
    text-align: center;
}